.container {
	width: 640px;
	height: 400px;
	border: 1px solid black;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
}

.display-board {
	width: 598px;
	height: 79px;
	margin: 20px;
	border: 1px solid #bfb3b3;
	border-radius: 5px;
}
.display-board:hover {
	border: 1px solid black;
}

.button-board {
	width: 598px;
	height: 220px;
	margin: auto;
	padding: 0px;
}
button {
	width: 83px;
	height: 37px;
	border: 0px;
	border-radius: 5px;
	background-color: #e2dede;
}

button:hover {
	background-color: #bcadad;
}

.button {
	margin-bottom: 10px;
}

.colum-button {
	width: 77px;
	height: 211px;
	float: left;
	margin-right: 8px;
	padding: 0px;
}

.button-bang {
	background-color: #4f8bea;
	color: white; 
	font-size: 20px;
}

.button-0, .button-1, .button-2, .button-3, .button-4, .button-5, .button-6, .button-7, .button-8, .button-9, .button-cham {
	background-color: #e8f1f2;
}

.clock, .clock img {
	width: 25px;
	height: 25px;
	border-radius: 5px;
}

#result {
	font-size: 30px;
	font-weight: bold;
	float: right;
	margin-right: 20px;
}