.container {
	width: 500px;
	height: 500px;
	margin: auto;
	border: 1px solid black;
	margin-top: 50px;
	padding: 10px;
	background-image: url('../img/nen.png');
}

#reset {
	cursor: pointer;
	float: right;
	font-weight: bold;
	border-radius: 10px;
	/*opacity: 0.2;*/
}

.content {
	margin: auto;
	padding: 50px;
}


.content div {
	width: 110px;
	height: 110px;
	margin: 5px;
	padding: 2px;
	cursor: pointer;
	border-radius: 12px;
}

button img {
	border-radius: 12px;
	margin: auto;
}